<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.chartMapper">
	<select id="selectChartNewsByCompany" parameterType="String" resultType="com.sobetec.nlp.chart.News">
		SELECT "composite_key"						AS "cmpyKey"
			 , "news_date"							AS "newsDate"
			 , "company_name"						AS "cmpyName"
			 , round(cast(ta_score as numeric),4)	AS "taScre"
			 , "news_title"							AS "newsTtl"
			 , "ext_morphs"							AS "extMorp"
			 
		 FROM NLP."nlp_news"
		 where (company_name like concat('%',#{cmpyNameOnly},'%') or raw_data like concat('%',#{cmpyNameOnly},'%') or news_title like concat('%',#{cmpyNameOnly},'%') )
		 AND (news_date between '2015-01-01' and '2020-12-31')
		 order by news_date desc limit 10000
	</select>
	<select id="selectChartStocksByCompany" parameterType="String" resultType="com.sobetec.nlp.chart.Stocks">
		SELECT "company" as "company"
			 , "date" as "date"
			 , "closing_price" as "price"
			 FROM NLP."nlp_stock"
			 WHERE company LIKE concat('%',#{cmpyNameOnly},'%')
			 ORDER BY date
	</select>
	<select id="getDocFreqCounts" resultType="com.sobetec.nlp.chart.NewsKeyword">
		SELECT "token" as "keyword"
			 , "doc_freq" as "totalDocFreq"
			 FROM NLP."df_counts"
	</select>
	<select id="getAllNewsCount" resultType="Integer">
		SELECT COUNT(*) FROM NLP."nlp_news"
	</select>
	
	<select id="selectChartNewsByCondition" parameterType="com.sobetec.nlp.chart.ChartCondition" resultType="com.sobetec.nlp.chart.News">
		SELECT "composite_key"						AS "cmpyKey"
			 , "news_date"							AS "newsDate"
			 , "company_name"						AS "cmpyName"
			 , round(cast(ta_score as numeric),4)	AS "taScre"
			 , "news_title"							AS "newsTtl"
			 , "ext_morphs"							AS "extMorp"
			 
		 FROM NLP."nlp_news"
		 where (company_name like concat('%',#{searchWord},'%') or raw_data like concat('%',#{searchWord},'%') or news_title like concat('%',#{searchWord},'%') )
		 <choose>
		  	<when test="gubun == 'year'">
		  		and year = #{newsYear}
		  	</when>
		  	<when test="gubun == 'month'">
		  		and year = #{newsYear}
		  		and month = #{gubunItem}
		  	</when>
		  	<when test="gubun == 'quarter'">
		  		and year = #{newsYear}
		  		and quarter = #{gubunItem}
		  	</when>
		  	<when test="gubun == 'custom'">
		  		and news_date between  to_date(#{startDate}, 'yyyy-mm-dd') and to_date(#{endDate}, 'yyyy-mm-dd')
		  	</when>
		  
		  </choose>
		 order by news_date desc limit 10000
	</select>
	
	<select id="selectChartStocksByCondition" parameterType="com.sobetec.nlp.chart.ChartCondition" resultType="com.sobetec.nlp.chart.Stocks">
		SELECT "company" as "company"
			 , "date" as "date"
			 , "closing_price" as "price"	
			 		 
		 from (select * , date_part('year', date) as year, date_part('month', date) as month, date_part('day', date) as day, date_part('quarter', date) as quarter
				from (select seq, company_code, company, to_date(date, 'yyyymmdd') as date, closing_price from nlp.nlp_stock) as a) as b
		 WHERE company LIKE concat('%',#{searchWord},'%')
		 <choose>
		  	<when test="gubun == 'year'">
		  		and year = #{newsYear}
		  	</when>
		  	<when test="gubun == 'month'">
		  		and year = #{newsYear}
		  		and month = #{gubunItem}
		  	</when>
		  	<when test="gubun == 'quarter'">
		  		and year = #{newsYear}
		  		and quarter = #{gubunItem}
		  	</when>
		  	<when test="gubun == 'custom'">
		  		and date between  to_date(#{startDate}, 'yyyy-mm-dd') and to_date(#{endDate}, 'yyyy-mm-dd')
		  	</when>
		  </choose>
		 ORDER BY date
	</select>
	
</mapper>