<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.chartMapper">
	<select id="selectChartNewsByCompany" parameterType="String" resultType="com.sobetec.nlp.chart.News">
		SELECT "composite_key"						AS "cmpyKey"
			 , "news_date"							AS "newsDate"
			 , "company_name"						AS "cmpyName"
			 , round(cast(ta_score as numeric),4)	AS "taScre"
			 , "news_title"							AS "newsTtl"
			 , "ext_morphs"							AS "extMorp"
			 
		 FROM NLP."nlp_news"
		 where (company_name like concat('%',#{cmpyNameOnly},'%') or raw_data like concat('%',#{cmpyNameOnly},'%') or news_title like concat('%',#{cmpyNameOnly},'%') )
		 AND (news_date between '2020-03-01' and '2020-12-31')
		 order by news_date desc
	</select>
	<select id="selectChartStocksByCompany" parameterType="String" resultType="com.sobetec.nlp.chart.Stocks">
		SELECT "company" as "company"
			 , "date" as "date"
			 , "closing_price" as "price"
			 FROM NLP."nlp_stock"
			 WHERE company LIKE concat('%',#{cmpyNameOnly},'%')
			 
			 ORDER BY date
	</select>
	<select id="getDocFreqCounts" resultType="com.sobetec.nlp.chart.NewsKeyword">
		SELECT "token" as "keyword"
			 , "doc_freq" as "totalDocFreq"
			 FROM NLP."df_counts"
	</select>
	<select id="getAllNewsCount" resultType="Integer">
		SELECT COUNT(*) FROM NLP."nlp_news"
	</select>
	
	<select id="selectChartNewsByCondition" parameterType="com.sobetec.nlp.chart.ChartCondition" resultType="com.sobetec.nlp.chart.News">
		SELECT "composite_key"						AS "cmpyKey"
			 , "news_date"							AS "newsDate"
			 , "company_name"						AS "cmpyName"
			 , round(cast(ta_score as numeric),4)	AS "taScre"
			 , "news_title"							AS "newsTtl"
			 , "ext_morphs"							AS "extMorp"
			 
		 FROM NLP."nlp_news"
		 where (company_name like concat('%',#{searchWord},'%') or raw_data like concat('%',#{searchWord},'%') or news_title like concat('%',#{searchWord},'%') )
		 <choose>
		  	<when test="gubun == 'year'">
		  		and year = #{newsYear}
		  	</when>
		  	<when test="gubun == 'month'">
		  		and year = #{newsYear}
		  		and month = #{gubunItem}
		  	</when>
		  	<when test="gubun == 'quarter'">
		  		and year = #{newsYear}
		  		and quarter = #{gubunItem}
		  	</when>
		  	<when test="gubun == 'custom'">
		  		and news_date between  to_date(#{startDate}, 'yyyy-mm-dd') and to_date(#{endDate}, 'yyyy-mm-dd')
		  	</when>
		  
		  </choose>
		 order by news_date desc
	</select>
	
	<select id="selectChartStocksByCondition" parameterType="com.sobetec.nlp.chart.ChartCondition" resultType="com.sobetec.nlp.chart.Stocks">
		SELECT "company" as "company"
			 , "date" as "date"
			 , "closing_price" as "price"	
			 		 
		 from (select * , date_part('year', date) as year, date_part('month', date) as month, date_part('day', date) as day, date_part('quarter', date) as quarter
				from (select seq, company_code, company, to_date(date, 'yyyymmdd') as date, closing_price from nlp.nlp_stock) as a) as b
		 WHERE company LIKE concat('%',#{searchWord},'%')
		 <choose>
		  	<when test="gubun == 'year'">
		  		and year = #{newsYear}
		  	</when>
		  	<when test="gubun == 'month'">
		  		and year = #{newsYear}
		  		and month = #{gubunItem}
		  	</when>
		  	<when test="gubun == 'quarter'">
		  		and year = #{newsYear}
		  		and quarter = #{gubunItem}
		  	</when>
		  	<when test="gubun == 'custom'">
		  		and date between  to_date(#{startDate}, 'yyyy-mm-dd') and to_date(#{endDate}, 'yyyy-mm-dd')
		  	</when>
		  </choose>
		 ORDER BY date
	</select>
	
	<select id="selectChartIndustryNewsByCondition" parameterType="com.sobetec.nlp.chart.ChartCondition" resultType="com.sobetec.nlp.chart.News">
		SELECT "composite_key"						AS "cmpyKey"
			 , "news_date"							AS "newsDate"
			 , "company_name"						AS "cmpyName"
			 , round(cast(ta_score as numeric),4)	AS "taScre"
			 , "news_title"							AS "newsTtl"
			 , "ext_morphs"							AS "extMorp"
		 FROM NLP."nlp_news"
		 where industry_code = (select industry_code from nlp.company_code where industry_name like concat('%',#{selectedName},'%') limit 1)
		 <choose>
		  	<when test="gubun == 'year'">
		  		and year = #{newsYear}
		  	</when>
		  	<when test="gubun == 'month'">
		  		and year = #{newsYear}
		  		and month = #{gubunItem}
		  	</when>
		  	<when test="gubun == 'quarter'">
		  		and year = #{newsYear}
		  		and quarter = #{gubunItem}
		  	</when>
		  	<when test="gubun == 'custom'">
		  		and news_date between  to_date(#{startDate}, 'yyyy-mm-dd') and to_date(#{endDate}, 'yyyy-mm-dd')
		  	</when>
		  
		  </choose>
		 order by news_date desc
	</select>
	
	<select id="selectChartIndustryStocksByCondition" parameterType="com.sobetec.nlp.chart.ChartCondition" resultType="com.sobetec.nlp.chart.Stocks">
	select d.date, d.company, d.closing_price as "price" from (
		select s.company, 
				to_date(s.date, 'yyyymmdd') as date, 
				date_part('year', to_date(s.date, 'yyyymmdd')) as year, 
			 	date_part('month', to_date(s.date, 'yyyymmdd')) as month,
			 	date_part('day', to_date(s.date, 'yyyymmdd')) as day, 
			 	date_part('quarter', to_date(s.date, 'yyyymmdd')) as quarter, 
				s.closing_price 
		from nlp.nlp_stock as s
		join nlp.company_code as b
		on (s.company_code = b.code and b.industry_name = #{selectedName}))as d
				
	where
		 
		 <choose>
		  	<when test="gubun == 'year'">
		  		year = #{newsYear}
		  	</when>
		  	<when test="gubun == 'month'">
		  		year = #{newsYear}
		  		and month = #{gubunItem}
		  	</when>
		  	<when test="gubun == 'quarter'">
		  		year = #{newsYear}
		  		and quarter = #{gubunItem}
		  	</when>
		  	<when test="gubun == 'custom'">
		  		date between  to_date(#{startDate}, 'yyyy-mm-dd') and to_date(#{endDate}, 'yyyy-mm-dd')
		  	</when>
		  </choose>
		 ORDER BY date
	</select>
	
	<select id="selectChartCompanyNewsByCondition" parameterType="com.sobetec.nlp.chart.ChartCondition" resultType="com.sobetec.nlp.chart.News">
		SELECT "composite_key"						AS "cmpyKey"
			 , "news_date"							AS "newsDate"
			 , "company_name"						AS "cmpyName"
			 , round(cast(ta_score as numeric),4)	AS "taScre"
			 , "news_title"							AS "newsTtl"
			 , "ext_morphs"							AS "extMorp"
		 FROM NLP."nlp_news"
		 where company_name = #{selectedName}
		 <choose>
		  	<when test="gubun == 'year'">
		  		and year = #{newsYear}
		  	</when>
		  	<when test="gubun == 'month'">
		  		and year = #{newsYear}
		  		and month = #{gubunItem}
		  	</when>
		  	<when test="gubun == 'quarter'">
		  		and year = #{newsYear}
		  		and quarter = #{gubunItem}
		  	</when>
		  	<when test="gubun == 'custom'">
		  		and news_date between  to_date(#{startDate}, 'yyyy-mm-dd') and to_date(#{endDate}, 'yyyy-mm-dd')
		  	</when>
		  
		  </choose>
		 order by news_date desc
	</select>
	
	
	<select id="selectChartCompanyStocksByCondition" parameterType="com.sobetec.nlp.chart.ChartCondition" resultType="com.sobetec.nlp.chart.Stocks">
		SELECT "company" as "company"
			 , "date" as "date"
			 , "closing_price" as "price"	
			 		 
		 from (select * , date_part('year', date) as year, date_part('month', date) as month, date_part('day', date) as day, date_part('quarter', date) as quarter
				from (select seq, company_code, company, to_date(date, 'yyyymmdd') as date, closing_price from nlp.nlp_stock) as a) as b
		 WHERE company = #{selectedName}
		 <choose>
		  	<when test="gubun == 'year'">
		  		and year = #{newsYear}
		  	</when>
		  	<when test="gubun == 'month'">
		  		and year = #{newsYear}
		  		and month = #{gubunItem}
		  	</when>
		  	<when test="gubun == 'quarter'">
		  		and year = #{newsYear}
		  		and quarter = #{gubunItem}
		  	</when>
		  	<when test="gubun == 'custom'">
		  		and date between  to_date(#{startDate}, 'yyyy-mm-dd') and to_date(#{endDate}, 'yyyy-mm-dd')
		  	</when>
		  </choose>
		 ORDER BY date
	</select>
	
 	<select id="selectChartSubsidiaryNewsByCondition" parameterType="com.sobetec.nlp.chart.ChartCondition" resultType="com.sobetec.nlp.chart.News">
		SELECT "composite_key"						AS "cmpyKey"
			 , "news_date"							AS "newsDate"
			 , "company_name"						AS "cmpyName"
			 , round(cast(ta_score as numeric),4)	AS "taScre"
			 , "news_title"							AS "newsTtl"
			 , "ext_morphs"							AS "extMorp"
		  FROM NLP."nlp_news"
		  where subsidiary_code = (select subsidiary_code from nlp.company_code where subsidiary_name = #{selectedName} limit 1)
		  <choose>
		  	<when test="gubun == 'year'">
		  		and year = #{newsYear}
		  	</when>
		  	<when test="gubun == 'month'">
		  		and year = #{newsYear}
		  		and month = #{gubunItem}
		  	</when>
		  	<when test="gubun == 'quarter'">
		  		and year = #{newsYear}
		  		and quarter = #{gubunItem}
		  	</when>
		  	<when test="gubun == 'custom'">
		  		and news_date between  to_date(#{startDate}, 'yyyy-mm-dd') and to_date(#{endDate}, 'yyyy-mm-dd')
		  	</when>
		  </choose>
		  order by news_date desc
	</select>
	
	<select id="selectChartSubsidiaryStocksByCondition" parameterType="com.sobetec.nlp.chart.ChartCondition" resultType="com.sobetec.nlp.chart.Stocks">
		select d.date, d.company, d.closing_price as "price" from (
		select s.company, 
				to_date(s.date, 'yyyymmdd') as date, 
				date_part('year', to_date(s.date, 'yyyymmdd')) as year, 
			 	date_part('month', to_date(s.date, 'yyyymmdd')) as month,
			 	date_part('day', to_date(s.date, 'yyyymmdd')) as day, 
			 	date_part('quarter', to_date(s.date, 'yyyymmdd')) as quarter, 
				s.closing_price 
		from nlp.nlp_stock as s
		join nlp.company_code as b
		on (s.company_code = b.code and b.subsidiary_name = #{selectedName}))as d
		
		where
		 
		 <choose>
		  	<when test="gubun == 'year'">
		  		year = #{newsYear}
		  	</when>
		  	<when test="gubun == 'month'">
		  		year = #{newsYear}
		  		and month = #{gubunItem}
		  	</when>
		  	<when test="gubun == 'quarter'">
		  		year = #{newsYear}
		  		and quarter = #{gubunItem}
		  	</when>
		  	<when test="gubun == 'custom'">
		  		date between  to_date(#{startDate}, 'yyyy-mm-dd') and to_date(#{endDate}, 'yyyy-mm-dd')
		  	</when>
		  </choose>
		 ORDER BY date
	</select>
	
</mapper>