<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.chartMapper">
	<select id="selectChartNewsByCompany" parameterType="String" resultType="com.sobetec.nlp.chart.News">
		SELECT "composite_key"						AS "cmpyKey"
			 , "news_date"							AS "newsDate"
			 , "company_name"						AS "cmpyName"
			 , round(cast(ta_score as numeric),4)	AS "taScre"
			 , "news_title"							AS "newsTtl"
			 , "ext_morphs"							AS "extMorp"
			 
		 FROM NLP."nlp_news"
		 where (company_name like concat('%',#{cmpyNameOnly},'%') or raw_data like concat('%',#{cmpyNameOnly},'%') or news_title like concat('%',#{cmpyNameOnly},'%') )
		 AND (news_date between '2020-01-01' and '2020-12-31')
		 order by news_date desc limit 1000
	</select>
	<select id="selectChartStocksByCompany" parameterType="String" resultType="com.sobetec.nlp.chart.Stocks">
		SELECT "company" as "company"
			 , "date" as "date"
			 , "closing_price" as "price"
			 FROM NLP."nlp_stock"
			 WHERE company LIKE concat('%',#{cmpyNameOnly},'%')
			 ORDER BY date
	</select>
	<select id="getDocFreqCounts" resultType="com.sobetec.nlp.chart.NewsKeyword">
		SELECT "token" as "keyword"
			 , "doc_freq" as "totalDocFreq"
			 FROM NLP."df_counts"
	</select>
	<select id="getAllNewsCount" resultType="Integer">
		SELECT COUNT(*) FROM NLP."nlp_news"
	</select>
</mapper>