<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>[프로젝트명]</title>

<script src="/js/jquery-3.4.1.js"></script>

<script type="text/javascript">
// /selectSampleList

function fnIns(){

	$.ajax({
		  url: "/insertSample"
		, type: "POST"
		, data: $('#frmData').serialize()
		, dataType: "json"
		, success: function( result ) {
			if( result > 0 ){
				alert("등록 되었습니다.");
			}
        }
    })

}

function goList(){
	location.href = "/view/sample/sampleList.html";
}

</script>

</head>

<body leftmargin=0 topmargin=0 marginwidth=0 marginheight=0>

<form id="frmData" name="frmData">
-등록
<table width="1000" border="1">
	<tr>
		<th>재목</th>
		<td><input type="text" id="pSmplTtl" name="pSmplTtl" value=""></td>
	<tr>
	</tr>	
		<th>내용 </th>
		<td>
			<textarea id="pSmplCont" name="pSmplCont" rows="5" cols="100"></textarea>
		</td>
	</tr>	
</table>

<table width="1000" border="0">
	<tr>
		<td align="right">
			<input type="button" value="등록" onclick="fnIns()">
			<input type="button" value="목록" onclick="goList()">
		</td>
	</tr>	
</table>

</form>


</body>
</html>