<meta charset="UTF-8">

<div class="contents_panel">
	<h3 class="main_title">전반적인 산업동향</h3>

	<div class="dash_board">
		<div class="card_list">
			<div class="card_item">
				<div class="card_box">
					<div class="card_head">
						<span class="title">타이틀 1</span>
					</div>
					<div class="card_content">
						<div class="chart_area"><div class="chart">chart 영역</div></div>
					</div>
				</div>
			</div>
			<div class="card_item">
				<div class="card_box">
					<div class="card_head">
						<span class="title">T/A score</span>
					</div>
					<div class="card_content">
						<div class="chart_area"><div class="chart">chart 영역</div></div>
					</div>
				</div>
			</div>
			<div class="card_item">
				<div class="card_box">
					<div class="card_head">
						<span class="title">긍정 / 부정</span>
					</div>
					<div class="card_content">
						<div class="chart_area"><div class="chart">chart 영역</div></div>
					</div>
				</div>
			</div>
			<div class="card_item">
				<div class="card_box">
					<div class="card_head">
						<span class="title">T/A 결과</span>
					</div>
					<div class="card_content">
						<div class="chart_area"><div class="chart">chart 영역</div></div>
					</div>
				</div>
			</div>
                     <div class="card_item">
				<div class="card_box">
					<div class="card_head">
						<span class="title">긍/부정 타임라인</span>
					</div>
					<div class="card_content">
						<div class="chart_area"><div class="chart">chart 영역</div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
